@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --text-*: initial;
  --text-display-1: clamp(2rem, 2.5rem + 1vw, 4rem);
  --text-display-2: clamp(1.7rem, 2rem + 1vw, 4rem);
  --text-display-3: clamp(1.3rem, 1.5rem + 1vw, 3.5rem);
  --text-btn: clamp(1rem, 0.8rem + 0.5vw, 1.25rem);
  --text-body-lg: clamp(1.2rem, 0.5vw, 1.375rem);
  --text-body-base: clamp(1rem, 0.5vw, 1rem);
  --text-body-sm: clamp(0.75rem, 0.3vw, 0.875rem);

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --shadow-card-1: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility link {
  @apply relative inline-block transition-all;

  &::after {
    @apply bg-gray-700;
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust to place underline closer/farther */
    width: 100%;
    height: 2px; /* Thickness of the underline */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
  }
  &:hover::after {
    transform: scaleX(1);
  }
}

@utility link-active {
  @apply text-primary;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 36, 89%, 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 137 91% 25%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-foreground;
  }
  .z-container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .z-container {
      width: 95%;
    }
  }

  @media (min-width: 1440px) {
    .z-container {
      max-width: 1120px; /* Reduce width on desktops */
    }
  }
}

@layer utilities {
  .inter {
    font-family: 'Inter', serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
  }

  .roboto {
    font-family: 'Roboto', serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
  }
}

@layer components {

  #testimonial-juliosomo {
    @apply -mt-8;

  }

  #testimonial-amyrobson {
  }
}
